<%= form_for(pastrecord) do |f| %>
  <% if pastrecord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pastrecord.errors.count, "error") %> prohibited this pastrecord from being saved:</h2>

      <ul>
      <% pastrecord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :registration %>
    <%= f.text_field :registration %>
  </div>

  <div class="field">
    <%= f.label :stream %>
    <%= f.text_field :stream %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :package %>
    <%= f.text_field :package %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
