
<div class="container-fluid">
 <div class="card well">
  <div class="card-header" style="color:#269ABC">
   <h4> <strong>Exam Detail</strong></h4>
  </div>
  <div class="card-block">
  <table class="table table-hover table-bordered info">
  <thead style="background-color:#0072CC;color:white">
    <tr class="text-nowrap">
      <% if logged_in1? %>
      <th>CompanyName:</th>
      <%end%>
      <th>JobName:</th>
      <th>Examtype:</th>
      <th>Date:</th>
      <th>Time:</th>
      <th>Rules:</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% if logged_in1? %>
        <td><%=@exam.job.company.compName if@exam.job.company.compName   %></td>
        <%end%>
        <td><%= @exam.job.name %></td>
        <td><%=@exam.examtype %></td>
        <td><%= @exam.date %></td>
        <td><%=  @exam.time%></td>
        <td><%= @exam.result%></td>
        <td> <%= link_to 'Edit', edit_exam_path(@exam),class: "btn btn-primary btn-sm",style: "color:white"%></td>
      </tr>
  </tbody>
</table>

</div>

</div>
</div>


